In [5]:
import pandas as pd

data = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv")

In [6]:
pd.DataFrame(data)

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,NaN,NaN,256870.0,5596.0,NaN,NaN
12525821,2022-09-10,ZW,18.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN
12525822,2022-09-11,ZW,0.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN
12525823,2022-09-12,ZW,51.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN
12525824,2022-09-13,ZW,0.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN

In [15]:
def row_count(input):
    with open(input) as f:
        for i, l in enumerate(f):
            pass
    return i

row_count("/Users/julienberthomier/Downloads/aggregated.csv")

22756333

In [16]:
df = pd.read_csv("/Users/julienberthomier/Downloads/aggregated.csv", nrows=1000, skiprows=22754333)
df

,ZA_WC_DC5,2022-08-30,ChIJg-OB74w21R0RumMhJW3W6wE,Q1053888,Unnamed: 4,ZA,South Africa,ZA.1,ZAF,2,...,Unnamed: 698,Unnamed: 699,Unnamed: 700,Unnamed: 701,Unnamed: 702,Unnamed: 703,Unnamed: 704,Unnamed: 705,Unnamed: 706,Unnamed: 707
0,ZA_WC_DC5,2022-08-31,ChIJg-OB74w21R0RumMhJW3W6wE,Q1053888,NaN,ZA,South Africa,ZA,ZAF,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZA_WC_DC5,2022-09-01,ChIJg-OB74w21R0RumMhJW3W6wE,Q1053888,NaN,ZA,South Africa,ZA,ZAF,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZA_WC_DC5,2022-09-02,ChIJg-OB74w21R0RumMhJW3W6wE,Q1053888,NaN,ZA,South Africa,ZA,ZAF,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZA_WC_DC5,2022-09-03,ChIJg-OB74w21R0RumMhJW3W6wE,Q1053888,NaN,ZA,South Africa,ZA,ZAF,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ZA_WC_DC5,2022-09-04,ChIJg-OB74w21R0RumMhJW3W6wE,Q1053888,NaN,ZA,South Africa,ZA,ZAF,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ZM,2022-09-04,ChIJcQv8_KX0QBkRRT5Yfqz5n_E,Q953,country/ZMB,ZM,Zambia,ZM,ZMB,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,ZM,2022-09-05,ChIJcQv8_KX0QBkRRT5Yfqz5n_E,Q953,country/ZMB,ZM,Zambia,ZM,ZMB,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,ZM,2022-09-06,ChIJcQv8_KX0QBkRRT5Yfqz5n_E,Q953,country/ZMB,ZM,Zambia,ZM,ZMB,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,ZM,2022-09-07,ChIJcQv8_KX0QBkRRT5Yfqz5n_E,Q953,country/ZMB,ZM,Zambia,ZM,ZMB,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,ZM,2022-09-08,ChIJcQv8_KX0QBkRRT5Yfqz5n_E,Q953,country/ZMB,ZM,Zambia,ZM,ZMB,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN